h2 {
  text-align: center;
  margin-top: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-content: center;
}
